html {
  scroll-behavior: smooth;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-image: url(./Resources/Blackjack.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

input[type="number"] {
  display: block;
  height: 30px;
  border: 3px solid rgba(255, 217, 0, 0.699);
  margin: 10px auto;
  margin-top: 200px;
  width: 9%;
}

input[type="submit"] {
  cursor: pointer;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: larger;
  font-family: "Bangers", cursive;
  text-align: center;
  display: block;
  margin: 0 auto;
  text-decoration: none;
}
#up {
  font-family: "Bangers", cursive;
  font-size: 70px;
  margin: 20px;
  text-shadow: 1px 1px rgba(255, 217, 0, 0.699);
  color: #fffefe;
  text-align: center;
}

#info {
  color: #fffefe;
  align-items: center;
  margin-top: 210px;
  display: flex;
  justify-content: center;
  font-family: "Dancing Script", cursive;
}
#down {
  min-height: 100vh;
  margin: 0;
  margin-top: 50px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  align-items: center;
  display: flex;
  justify-content: center;
}
