body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  height: 100vh;
  overflow: hidden;
  display: flex;
  font-family: "Anton", sans-serif;
  justify-content: center;
  align-items: center;
}

#background {
  margin: 0;
  background-position: center;
}

#home {
  width: 120px;
  height: 50px;
  border: 2px solid rgba(207, 176, 1, 0.863);
  background-color: green;
  color: white;
  font-family: "Anton", sans-serif;
  display: block;
  position: absolute;
  top: 15px;
  left: 25px;
  cursor: pointer;
}
#push {
  width: 120px;
  height: 50px;
  background-color: green;
  border: 2px solid rgba(207, 176, 1, 0.863);
  color: white;
  font-family: "Anton", sans-serif;
  margin: 0;
  position: fixed;
  bottom: 45px;
  left: 33%;
  cursor: pointer;
}

#start {
  width: 120px;
  height: 50px;
  background-color: green;
  border: 2px solid rgba(207, 176, 1, 0.863);
  color: white;
  font-family: "Anton", sans-serif;
  position: fixed;
  left: auto;
  bottom: 45px;
  cursor: pointer;
}

#stand {
  width: 120px;
  height: 50px;
  background-color: green;
  border: 2px solid rgba(207, 176, 1, 0.863);
  color: white;
  font-family: "Anton", sans-serif;
  position: fixed;
  bottom: 45px;
  right: 33%;
  cursor: pointer;
}

#card1 {
  background-color: #00763a;
  color: white;
  font-weight: bolder;
  width: 25px;
  height: 25px;
  position: fixed;
  left: 49.19%;
  bottom: 235px;
  text-align: center;
}
#card2 {
  background-color: #00763a;
  color: white;
  font-weight: bolder;
  width: 25px;
  height: 25px;
  position: fixed;
  left: 55.7%;
  bottom: 238px;
  transform: rotate(-6.8deg);
  text-align: center;
}
#card3 {
  background-color: #00763a;
  color: white;
  font-weight: bolder;
  width: 25px;
  height: 25px;
  position: fixed;
  left: 62.1%;
  bottom: 256px;
  transform: rotate(-15deg);
  text-align: center;
}
#card4 {
  background-color: #00763a;
  color: white;
  font-weight: bolder;
  width: 25px;
  height: 25px;
  position: fixed;
  left: 68.1%;
  bottom: 285px;
  transform: rotate(-20deg);
  text-align: center;
}
#card5 {
  background-color: #00763a;
  color: white;
  font-weight: bolder;
  width: 25px;
  height: 25px;
  position: fixed;
  right: 55.7%;
  bottom: 238px;
  transform: rotate(6.8deg);
  text-align: center;
}
#card6 {
  background-color: #00763a;
  color: white;
  font-weight: bolder;
  width: 25px;
  height: 25px;
  position: fixed;
  right: 62.1%;
  bottom: 256px;
  transform: rotate(15deg);
  text-align: center;
}

#card7 {
  background-color: #00763a;
  color: white;
  font-weight: bolder;
  width: 25px;
  height: 25px;
  position: fixed;
  right: 68.1%;
  bottom: 285px;
  transform: rotate(20deg);
  text-align: center;
}

#money,
#sumview,
#message,
#dealersum {
  color: white;
  position: absolute;
  text-align: center;
  font-family: "Acme", sans-serif;
  font-size: 25px;
  font-weight: bolder;
}

#money {
  top: 30%;
  right: 25px;
}

#sumview {
  top: 35%;
  right: 135px;
  font-size: 40px;
}

#message {
  top: 50%;
  right: 50px;
}

#dealersum {
  top: 45%;
  left: 25px;
  font-size: 40px;
}

button {
  box-shadow: 0 6px 0 var(--primary-dark), 0 5px 15px -4px white;
  transition: box-shadow 0.2s ease-in-out, margin-top 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  width: 150px;
}

button:hover,
button:focus {
  opacity: 0.9;
  outline: 0;
}

button:active {
  box-shadow: none;
  margin-top: 6px;
}
.alert {
  padding: 20px;
  color: white;
  margin-bottom: 15px;
  position: fixed;
  top: 25px;
}
#succ {
  background-color: #04aa6d;
  display: none;
}
#fail {
  background-color: #f44336;
  display: none;
}
#same {
  background-color: #2196f3;
  display: none;
}

#oncemore,
#tryagain {
  background-color: rgb(163, 163, 163);
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  font-weight: bolder;
  border-color: rgb(4, 22, 12);
}
