.Form {
  text-align: center;
}
body {
  background-image: url(https://www.teahub.io/photos/full/208-2080455_clean-abstract-background-wallpapers-best-background-for-forms.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  mix-blend-mode: difference;
}
