html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  background-image: url(./Images/casino-bg.jpg);
  margin: 20px;
}

span {
  color: whitesmoke;
  padding: 10px;
  display: block;
  float: right;
  margin-right: 20px;
  font-size: 20px;
  font-weight: bolder;
}

#Totalcredit {
  clear: right;
}

#choose {
  color: rgb(255, 217, 0);
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  font-size: 35px;
  margin: 25px;
  text-transform: capitalize;
  display: block;
}

div {
  border: 2px solid rgb(216, 215, 215);
  background-color: rgb(235, 233, 233);
  padding: 20px;
  display: block;
  float: left;
  width: 20vw;
  margin-left: 40px;
  margin-top: 40px;
  text-align: center;
}

#Slot {
  margin-left: 180px;
  font-family: "Poppins", sans-serif;
}

#Slot2 {
  padding-bottom: 10px;
  text-decoration: underline;
  font-weight: bolder;
}

#Blackjack {
  font-family: "Poppins", sans-serif;
}

#Blackjack2 {
  text-decoration: underline;
  padding-bottom: 10px;
  font-weight: bolder;
}

#Roulette {
  font-family: "Poppins", sans-serif;
}

p {
  display: inline;
}

#Roulette2 {
  text-decoration: underline;
  padding-bottom: 10px;
  font-weight: bolder;
}

img {
  border: 1px solid white;
  width: 300px;
  height: 200px;
  margin-bottom: 20px;
}

img:hover {
  opacity: 0.7;
}

div:hover {
  box-shadow: 2px 2px rgb(156, 156, 156);
}
