h2 {
  margin-top: 25px;
  text-align: center;
}

h3 {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 3px;
  font-weight: bolder;
}

h2::first-letter {
  font-size: 50px;
}

input[type="number"] {
  margin: 0 auto;
  display: block;
  height: 30px;
}

input[type="submit"] {
  display: block;
  margin: 0 auto;
  height: 40px;
  width: 120px;
  font-weight: bolder;
  font-size: 15px;
}
