body {
  background-image: url("./Images/Slot-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  margin: 5px;
  text-align: center;
  height: 35px;
  text-decoration: underline;
  color: rgba(255, 217, 0, 0.699);
  font-family: Abril Fatface;
  width: 87.5vw;
}

h3 {
  margin: 5px;
  text-align: center;
  font-family: Dancing Script;
  margin-top: 30px;
  color: rgb(199, 197, 197);
  width: 87.5vw;
}

#credits {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  float: right;
  margin: 10px;
  margin-right: 20px;
  text-align: left;
  font-size: 18px;
  color: rgb(199, 197, 197);
  font-family: Dancing Script;
}

#message {
  clear: both;
  width: 50%;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;
  text-align: center;
  padding: 10px;
  font-size: 25px;
  color: rgb(199, 197, 197);
  font-family: Dancing Script;
}

#Outer {
  width: 40%;
  height: 50vh;

  border: 5px solid rgb(214, 213, 213);
  border-style: double;
  margin: 45px auto;
  margin-bottom: 20px;
  box-sizing: border-box;
}

#Inner1,
#Inner2,
#Inner3 {
  width: 33.33%;
  height: 100%;
  padding: 10px;
  padding-top: 110px;
  border: 5px solid rgb(214, 213, 213);
  margin-left: 0px;
  float: left;
  color: whitesmoke;
  text-align: center;
  box-sizing: border-box;
  font-size: 70px;
}

button {
  text-align: center;
  display: inline block;
  margin: 0 auto;
  width: 170px;
  padding: 13px;
  background-color: rgb(129, 2, 2);
  border: 2px solid rgba(255, 217, 0, 0.699);
  color: rgba(255, 217, 0, 0.699);
  font-size: 18px;
  letter-spacing: 3px;
  font-family: Abril Fatface;
}

#homebtn {
  float: left;
}

#playbtn {
  position: absolute;
  left: 44.5%;
}
