html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  margin: 0px;
  background-image: url(./Images/Slot-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

h1 {
  margin: 20px;
  text-align: center;
  height: 35px;
  text-decoration: underline;
  color: rgba(255, 217, 0, 0.699);
  font-family: Abril Fatface;
  display: block;
}

h2 {
  height: 30px;
  margin: 0px auto;
  text-align: center;
  font-family: Dancing Script;
  margin-top: 0px;
  color: rgb(199, 197, 197);
  display: block;
}

#Centre {
  height: 30px;
  margin: 0px auto;
  text-align: center;
  font-family: Dancing Script;
  margin-top: 200px;
  color: rgb(199, 197, 197);
  display: block;
}

#End {
  background-color: rgba(0, 0, 0, 0.5);
  height: 30px;
  margin: 0px auto;
  text-align: center;
  font-family: Dancing Script;
  margin-top: 140px;
  color: rgb(199, 197, 197);
  display: block;
}

input[type="number"] {
  display: block;
  margin: 0 auto;
  border: 3px solid rgba(255, 217, 0, 0.699);
  color: rgb(129, 2, 2);
}

input[type="submit"] {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 190px;
  padding: 13px;
  background-color: rgb(129, 2, 2);
  border: 2px solid rgba(255, 217, 0, 0.699);
  color: rgba(255, 217, 0, 0.699);
  font-size: 18px;
  letter-spacing: 3px;
  font-family: Abril Fatface;
}

#obj {
  min-height: 100vh;
  margin: 0;
  margin-top: 50px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  align-items: center;
  display: flex;
  justify-content: center;
}
